body {
    font-family: sans-serif;
    background-color: #d4dfe7;
    padding: 2rem;
}

main {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#div-form {
    display: flex;
    gap: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background: #eee;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.complete-btn {
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    border-color: white;
    background-color: rgb(90, 104, 231);
    color: #f9f9f9;
}

.edit-btn {
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    border-color: white;
    background-color: rgb(43, 145, 12);
    color: #f9f9f9;
}

.delete-btn {
    background-color: rgb(226, 134, 13);
    border-radius: 5px;
    padding: 5px;
    border-color: white;
    color: #f9f9f9;
}

.completada {
    background-color: #a8e6a1;
    text-decoration: "Completada";
  }